



<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/message/add-message">Write new message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/become-member">Become a member</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/user/become-admin">Become Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">Logout</a>
            </li>
        </ul>
    </div>
</div>




